<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>テストアプリ</title>
  </head>
  <body>
    <h1>テストアプリ</h1>
    <h2>新刊登録</h2>
    <form action="/form" method="post">
      <label for="title">タイトル</label>
      <input type="text" name="title" id="title" />
      <br />
      <label for="author">著者</label>
      <input type="text" name="author" id="author" />
      <br />
      <label for="year">出版年</label>
      <input type="text" name="year" id="year" />
      <br />
      <input type="submit" value="登録" />
    </form>
  </body>
</html>
