<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>テストアプリ</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
  </head>
  <body>
    <h1>テストアプリ</h1>
    <h2>今月の新刊一覧</h2>
    {% if books == [] %}
    <p>今月の新刊はありません。</p>
    {% else %}
    <table border="1">
      <tr>
        <th>タイトル</th>
        <th>著者</th>
        <th>出版年</th>
      </tr>
      {% for book in books %}
      <tr>
        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
        <td>{{book.year}}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
    <a href="{{url_for('form')}}">新刊登録</a>
  </body>
</html>
